
@{
    ViewBag.Title = "ChatBot";
}

<h2>ChatBot</h2>

<iframe src='https://webchat.botframework.com/embed/wasuchat-bot?s=1OxLb2160Ew.LHnYVz4so0J7eIhlBrxhfiblzvt3pk13LIgFVjYHNLk' style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
