<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomError</title>
</head>
<body>
    <div>
        @model System.Web.Mvc.HandleErrorInfo

        @if (Model != null)
        {
            <div>
                <h2>
                    <b> Controller Name : @Model.ControllerName </b> ,
                    <b>
                        Action Name : @Model.ActionName,
                    </b>
                </h2>

                Exception : @Model.Exception.Message,

                Source:@Model.Exception.Source,
                TargetSite:@Model.Exception.TargetSite,


            </div>

        }

    </div>
</body>
</html>
